@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&dis');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: 'Popins', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background-color: black;
}

.container {
    max-width: 144rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.products {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.product {
    background: #f9f8fc;
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid rgb(169, 164, 164);
    box-shadow: 5px 10px;

}

.product img {
    width: 100%;
    height: 260px;
}

.product-content {
    padding: 0 2rem;
}

.product .product-title {
    font-size: 2rem;
    color: black;
}

.product-description {
    text-align: inherit;
}

.product-title,
.product-price-container,
.product-description,
.product-category {
    padding: 0.5rem 0;
}

.product-price-container {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart {
    background: rgb(16, 8, 69);
    padding: 0.6rem 1.5rem;

    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    border-radius: 1rem;
}

.add-to-cart ion-icon {
    font-size: 3rem;
}

body {
    background: #111 !important;
}

.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

.btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
}

#loader {
    background: #000 url(https://thumbs.gfycat.com/ZealousFineHochstettersfrog-size_restricted.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    background-size: 15%;
    position: fixed;
    z-index: 100;
}