* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
}
.container {
  width: 420px;
  height: 420px;
  top: 180px;
  /* left: 510px; */
  border: 58px solid white;
  display:flex;
  margin:auto;
  /* justify-content: center; */
  /* align-items: center; */
  /*:auto;
margin-top:170px;*/
  transform: rotate(45deg);
  position: relative;
}
.container .content {
  position: absolute;
  transform: rotate(-45deg);
  margin-top: 34.5%;
  margin-left: 6%;
  /* margin:auto; */
}
.container .border1 {
  width: 420px;
  height: 420px;
  border-bottom: 58px solid skyblue;
  z-index: 2;
  position: absolute;
  top: -58.5px;
  left: -58px;
}
.container .border2 {
  width: 420px;
  height: 420px;
  border-top: 58px solid yellow;
  position: absolute;
  z-index: 2;
  top: -19.4%;
  left: -19.4%;
}

.container .content h3 {
  font-size: 37px;
  color: white;
}
.container .content p {
  font-size: 18px;
  color: white;
  margin-left: 7.8%;
}
.container .content span {
  color: orange;
}
.footer {
  position: absolute;
  font-size: 35px;
  color: white;
  margin-top: 22%;
  margin-left: 43%;
  display:flex;
  justify-content: center;
}