.bodyContainer {
  margin: 25px;
  padding: 40px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
}
.TopSection {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstPera {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.secondPera {
  font-weight: 500;
  font-size: 40px;
  margin: 15px 60px 60px 60px;
}
.topImage {
  background-image: url("magnum.jpeg");
  width: 250px;
  height: 200px;
  background-position: center;
  border: 2px solid black;
  margin-bottom: 10px;
  margin-left: 10px;
}
.midPart {
  display: flex;
}
.midPartTable {
  border: 2px solid black;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-top: 15px;
  padding-right: 20px;

}
.title {
  margin: 20px 0px;
}
.divTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  height: 250px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.divTable h2 {
  margin: 12px;
  font-size: 36px;
}
.divTable p {
  text-align: center;
  font-size: 30px;
}
.divTable1,
.divTable2 {
  position: relative;
  left: -10px;
  margin-right: 50px !important;
}
.bottomSection {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110px;
  margin-top: 20px;
}
.bottomSection h1 {
  font-weight: 500;
  font-size: 40px;
}
@media screen and (max-width: 940px) {
  .innerHeadings {
    font-size: 20px !important;
  }
  .innerParas {
    font-size: 20px !important;
  }
  .secondPera {
    font-size: 25px;
  }
}
/*@media screen and (max-width: 610px) {
  .topImage {
    width:240px;
    height:150px;
    margin-left: 170px;
  }
}
.innerParas {
  max-width: 250px;
}
.midPartTable
{
    width: 60%;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-top: 15px;
  padding-right: 20px;

}*/
